button {
    float: left;
    margin: auto;
    padding-top: 0px;
    vertical-align: top;
    
  }

  link {
    margin:10px;
  }
  li {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 30px;
    }